html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5%=10px de 16px**/
}

*,
*:before *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2;
    color: #ffffff;
    background-image: url(/azul.jpg);
    background-size: cover;
}


/* Globales */

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    /** equivale a 1200 px**/
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/** Utilidades **/

.seccion {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}

.contenido-centrado {
    width: 1200;
    max-width: 1200px;
}


/** BOTONES **/

.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.boton-azul {
    background-color: #2F4CDC;
}

.boton-verde {
    background-color: #2F4CDC;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}


/* header */

.site-header.inicio {
    background-image: url(img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 70rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}


/* NAVEGACION */

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navegacion a:hover {
    color: #71B100;
}


/** Sección Nosotros **/


/** Icono-Nosotros **/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% -1rem);
    text-align: center;
    margin-right: 2rem;
}

.icono h3 {
    text-transform: uppercase;
}


/** Anuncios **/

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #000000;
    width: 1200px;
    text-align: center;
}

.anuncio {
    flex-shrink: inherit;
    flex-basis: calc(33.3% -1rem);
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin: 2rem;
    width: 1200px;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}

.precio {
    color: #71b100;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}

.iconos-caracteristicas li {
    display: flex;
}

.iconos-caracteristicas li img {
    margin-right: 2rem;
}