<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    
    <title >Listado productos</title>
    <meta charset="UTF-8"> </meta>
    <link rel="stylesheet" , href="styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

    <a href="/bienvenido" class="btn btn"><h6>Home</h6></a>
    <a href="/crear/producto" class="btn btn"><h6>Nuevo</h6></a>

<body>
    <a href="/bienvenido" class="btn" style="color: #ffffff"><h2>Home</h2></a>
    <span></span>
    <a href="/crear/producto" class="btn" style="color: #ffffff"><h2>Agregar producto</h2></a>
    <div class="container mt-4">
        <h2 style="color: #ffffff; font-size: 30px; text-align: center">Lista de Productos</h2>
        <table class="table" style="color: #ffffff; font-size: 15px;">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto: ${productos}">
                    <td th:text="${producto.codProducto}"></td>
                    <td th:text="${producto.nombreProducto}"></td>
                    <td th:text="${producto.descripcionProducto}"></td>
                    <td th:text="${producto.precioProducto}"></td>
                    <td>
                        <a th:href="@{/editar/}+${producto.codProducto}" class="btn btn-warning">Editar</a>
                            <a style="color: #000000" class="btn btn-danger" th:href="@{/eliminarProd/}+${producto.codProducto}"  th:object="${producto}"><h5>Eliminar</h5></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>