<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grupo4 P47_C3</title>
        <link rel="stylesheet" href="stylesBienvenido.css"/>
        <link rel="stylesheet" href="stylesGlobal.css"/>

    </head>

    <body>
        <main class="contenedor-seccion">
            <div class="contenido-Btn">
                <a href="/productos" class="topBtn productos" >Productos</a>
                <a href="/vendedores" class="topBtn vendedores" >Vendedores</a>
                <a href="/facturas" class="topBtn facturas" >Facturas</a>
            </div>
            <h1 class="top-Texto">EMPRESA GRUPO 4</h1>

            <div class="contenedor-anuncios">
                <div class="anuncio">
                    <img src="/Imagen/icon-Productos3.png" alt="Productos">
                    <div class="contenido-anuncio">
                        <a href="/productos" class="boton boton-Productos">PRODUCTOS </a>
                    </div>
                </div>

                <div class="anuncio">
                    <img src="/Imagen/icon-Vendedores3.png" alt="Vendedores">
                    <div class="contenido-anuncio">
                        <a href="/vendedores" class="boton boton-Vendedores">VENDEDORES</a>
                    </div>
                </div>

                <div class="anuncio">
                    <img src="/Imagen/icon-Facturas3.png" alt="ventas">
                    <div class="contenido-anuncio">
                        <a href="/facturas" class="boton boton-Facturas">FACTURAS  </a>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>