<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo4 P47_C3</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" , href="css/styles.css">
</head>

<body>
    <main class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Empresa Grupo 4</h2>

        <div class="contenedor-anuncios">
            <div class="anuncio">
                <img src="img/anuncio1.jpg" alt="Productos">
                <div class="contenido-anuncio">
                    <a href="vistaCrearProducto.html" class="boton boton-azul d-block">Productos</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="img/anuncio2.jpg" alt="Vendedores">
                <div class="contenido-anuncio">
                    <a href="vistaCrearVendedor.html" class="boton boton-azul d-block">Vendedores</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="img/anuncio3.jpg" alt="ventas">
                <div class="contenido-anuncio">
                    <a href="vistaCrearFactura.html" class="boton boton-azul d-block">Facturas</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>