<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Grupo 4 P47_C3</title>
        <link rel="stylesheet" type="text/css" href="/stylesGlobal.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesCrearGlobal.css"/>

    </head>

    <body>

        <main class="contenedor seccion contenido-centrado">
            <div class="contenido-Btn">
                <a href="/bienvenido" class="topBtn home" ><img src="/Imagen/icon-Home.png" alt="Home"/></a>
                <a href="/productos" class="topBtn productos" >Productos</a>
                <a href="/vendedores" class="topBtn vendedores" >Vendedores</a>
                <a href="/facturas" class="topBtn facturas" >Facturas</a>
            </div>
            <form th:action="@{/crear/vendedor}" th:object="${vendedor}" method="post">
                <h2>CREAR VENDEDOR</h2>
                <fieldset>
                    <label>Codigo</label>
                    <input id="codigovendedor" type="text" th:field="*{codVendedor}" />
                    <label>Nombre</label>
                    <input id="nombrevendedor" type="text" th:field="*{nombreVendedor}" />
                    <button type="submit" class="boton boton-submit">Agregar Vendedores</button>

                </fieldset>   
            </form>
        </main>
          <div id="miModal" class="modal">
            <div class="modal-contenido">
                <a href="#">X</a>
                <h2>Goog job!</h2>
                <p>Solicitud realizada con exito</p>
            </div>  
        </div>
        
        <div id="Error" class="modal">
            <div class="modal-contenido error">
                <a href="#">X</a>
                <h2>ERROR</h2>
                <p>No se pudo realizar la solicitud</p>
            </div>  
        </div>
    </body>

</html>